APP_ENV=local
LOG_LEVEL=INFO

# Source: data_pipeline_paccafe/source_data
SRC_POSTGRES_DB=paccafe
SRC_POSTGRES_USER=postgres
SRC_POSTGRES_PASSWORD=postgres
SRC_POSTGRES_PORT=5433

# Staging: data_pipeline_paccafe/staging_data
STG_POSTGRES_DB=staging
STG_POSTGRES_USER=postgres
STG_POSTGRES_PASSWORD=postgres
STG_POSTGRES_PORT=5434

# Warehouse: data_pipeline_paccafe/warehouse_data
WH_POSTGRES_DB=warehouse
WH_POSTGRES_USER=postgres
WH_POSTGRES_PASSWORD=postgres
WH_POSTGRES_PORT=5435

# Logging: data_pipeline_paccafe/log_data
LOG_POSTGRES_DB=pipeline_log
LOG_POSTGRES_USER=postgres
LOG_POSTGRES_PASSWORD=postgres
LOG_POSTGRES_PORT=5436

STORE_BRANCH_CSV_PATH=data/source/store_branch_paccofee.csv

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
FAILED_DATA_BUCKET=failed-data
